- Kemil Herath 
- MIS 776
- Assignment 05 (Clustering)

In [83]:
## Import necessary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline

#### Data Description: 
- CRIM: per capita crime rate by town 
- ZN: proportion of residential land zoned for lots over 25,000 sq.ft. 
- INDUS: proportion of non-retail business acres per town
- RIVER: Yes if the tract is bordered by the Charles river, No of not. 
- NOX: nitric oxides concentration (parts per 10 million) 
- RM: average number of rooms per dwelling 
- AGE: proportion of owner-occupied units built prior to 1940 
- DIS: weighted distances to five Boston employment centres 
- RAD: index of accessibility to radial highways 
- TAX: full-value property-tax rate per 10,000 
- PRATIO: pupil-teacher ratio by town 
- LSTAT: % of lower status of the population
- MEDV: Median value of owner-occupied homes in 1000's

### 1. Create a new Jupyter notebook and write the script to open the file into a data frame called datHousing. 
- Run any necessary EDA to make sure that everything looks reasonable.

In [84]:
datHousing = pd.read_csv('Housing.csv')

In [85]:
datHousing.head()

,CRIM,ZN,INDUS,RIVER,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,MEDV
0,3.32105,0.0,19.58,Yes,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,13.4
1,1.12658,0.0,19.58,Yes,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,15.3
2,1.41385,0.0,19.58,Yes,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,17.0
3,3.53501,0.0,19.58,Yes,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,15.6
4,1.27346,0.0,19.58,Yes,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,27.0

In [86]:
datHousing.describe()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000

In [87]:
datHousing.dtypes

CRIM      float64
ZN        float64
INDUS     float64
RIVER      object
NOX       float64
RM        float64
AGE       float64
DIS       float64
RAD         int64
TAX         int64
PRATIO    float64
LSTAT     float64
MEDV      float64
dtype: object

### 2. Create a dummy variable for RIVER called RIVERCODE where No is coded as 0 and Yes is coded as 1.

In [88]:
datHousing = pd.concat([datHousing,pd.get_dummies(datHousing['RIVER'], prefix='RIVER', drop_first=True)], axis=1)

In [89]:
## Rename the column 
datHousing.rename(columns={'RIVER_Yes':'RIVERCODE'}, inplace=True)
datHousing.head()

,CRIM,ZN,INDUS,RIVER,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,MEDV,RIVERCODE
0,3.32105,0.0,19.58,Yes,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,13.4,1
1,1.12658,0.0,19.58,Yes,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,15.3,1
2,1.41385,0.0,19.58,Yes,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,17.0,1
3,3.53501,0.0,19.58,Yes,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,15.6,1
4,1.27346,0.0,19.58,Yes,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,27.0,1

#### 2.1 Look at the mean value for RIVERCODE to verify. It should be 0.069.

In [90]:
round(datHousing.RIVERCODE.mean(),3)

0.069

### 3. Create a regression model predicting MEDV using all of the other numeric predictors. Remember to use RIVERCODE instead of RIVER. This is your baseline model.

In [91]:
datHousing.columns

Index(['CRIM', 'ZN', 'INDUS', 'RIVER', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PRATIO', 'LSTAT', 'MEDV', 'RIVERCODE'],
      dtype='object')

In [92]:
numeric_featues = ['CRIM', 'ZN', 'INDUS','NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX','PRATIO', 'LSTAT', 'RIVERCODE']

X = datHousing[numeric_featues]
y = datHousing.MEDV

In [93]:
## use train test split to split the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42 )

In [94]:
## Use standard Sclaer to scale the data. 
from sklearn.preprocessing import StandardScaler

# Instantiate the scaler 
scaler = StandardScaler()
# Transform the trainging set
X_train.loc[:,:] = scaler.fit_transform(X_train)
# Transform the testing set
X_test.loc[:,:] = scaler.fit_transform(X_test)

/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [95]:
X_train.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,RIVERCODE
477,1.288944,-0.501738,1.013858,0.518497,-1.407938,1.052695,-0.817963,1.718017,1.589555,0.824400,1.781931,-0.267615
15,-0.363832,-0.501738,-0.724744,-0.395888,0.943448,0.736589,-0.459971,-0.152500,-0.587348,-0.451683,-0.393802,3.736705
332,-0.365748,-0.501738,-0.552345,-0.515527,0.178212,-1.001997,0.414734,-0.503222,-0.708623,0.550954,-0.907676,-0.267615
423,0.390392,-0.501738,1.013858,0.518497,-0.267223,0.614457,-0.855079,1.718017,1.589555,0.824400,1.550043,-0.267615
19,-0.345520,-0.501738,-0.724744,-0.395888,0.486591,0.305535,0.145135,-0.152500,-0.587348,-0.451683,-0.418136,3.736705

In [96]:
X_test.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,RIVERCODE
173,-0.470401,-0.433104,1.574772,0.578213,-0.573547,0.939059,-0.973278,-0.709715,0.063375,1.236276,1.034313,-0.29173
274,-0.415264,0.425946,-1.026753,0.786388,0.818983,1.000917,-0.802568,-0.600857,-0.895722,-2.836276,-0.851997,-0.29173
491,-0.489924,-0.433104,2.424043,0.442447,-0.395417,0.959678,-0.873726,-0.709715,1.582407,0.689958,0.609174,-0.29173
72,-0.493393,-0.433104,-0.737856,-0.553172,-0.583444,-1.009475,0.157269,-0.600857,-0.812564,0.242970,-0.607378,-0.29173
452,0.185569,-0.433104,1.024561,1.383759,0.048497,0.719118,-0.624174,1.467456,1.332931,0.739623,0.504524,-0.29173

In [97]:
from sklearn.linear_model import LinearRegression

# Instantiate the model 
base_linreg = LinearRegression()
# Fit the model 
base_linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [98]:
# Prediction using the training set 
y_pred_train = base_linreg.predict(X_train)

# Prediction using the test set 
y_pred_test = base_linreg.predict(X_test)

#### 3.2 What is the R2 value for this model?

In [99]:
from sklearn.metrics import r2_score

# R2 score using the training set
trainR2 = r2_score(y_train, y_pred_train)
# R2 score using the test set 
testR2 = r2_score(y_test, y_pred_test)

print("R2 score with training data: {:.2f}".format(trainR2))
print("R2 score with test data: {:.2f}".format(testR2))

R2 score with training data: 0.75
R2 score with test data: 0.68

#### 3.3 The Mean Squared Error?

In [100]:
from sklearn.metrics import mean_squared_error

# MSE score using the training set
mseTrain = mean_squared_error(y_train, y_pred_train)
# R2 score using the test set 
mseTest = mean_squared_error(y_test, y_pred_test)

print("MSE with training data: {:.2f}".format(mseTrain))
print("MSE with test data: {:.2f}".format(mseTest))

MSE with training data: 20.92
MSE with test data: 29.51

### 4. Create a data frame called datHousingSub for clustering by generating a subset with all columns except for RIVER (keep RIVERCODE) and MEDV. We want to exclude MEDV from the clustering since this is the value that we will try to predict later from the clusters.

In [101]:
datHousingSub = datHousing.drop(['RIVER', 'MEDV'], axis =1)

#### 4.2.  Do a summary on the subset to verify.

In [102]:
datHousingSub.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,RIVERCODE
0,3.32105,0.0,19.58,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,1
1,1.12658,0.0,19.58,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,1
2,1.41385,0.0,19.58,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,1
3,3.53501,0.0,19.58,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,1
4,1.27346,0.0,19.58,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,1

In [103]:
datHousingSub.describe()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,RIVERCODE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,0.069170
std,8.601545,23.322453,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,0.253994
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,0.000000
25%,0.082045,0.000000,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,0.000000
50%,0.256510,0.000000,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,0.000000
75%,3.677082,12.500000,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,0.000000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,1.000000

### 5. Using the KMeans algorithm, create a model with 2 clusters on the datHousingSub data frame.

In [104]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=2, random_state=42).fit(datHousingSub)

#### 5.1 Report the center values for each cluster and the sizes of each cluster.

In [105]:
centroids = (kmeans.cluster_centers_)
print(centroids[0],'\n')
print(centroids[1])

[3.88774444e-01 1.55826558e+01 8.42089431e+00 5.11847425e-01
 6.38800542e+00 6.06322493e+01 4.44127154e+00 4.45528455e+00
 3.11926829e+02 1.78092141e+01 1.04174526e+01 7.31707317e-02]

[1.22991617e+01 3.01980663e-14 1.84518248e+01 6.70102190e-01
 6.00621168e+00 8.99678832e+01 2.05447007e+00 2.32700730e+01
 6.67642336e+02 2.01963504e+01 1.86745255e+01 5.83941606e-02]

#### 5.2 Using the characteristics that are especially divergent between the two clusters, what would you name these clusters?

- Would name: 
   - Cluester 01: **Industrial Areas** 
   - Cluster 02: **Residential Areas**

### 6. Repeat step 5 with 3 clusters.

In [106]:
datHousingSub.columns

Index(['CRIM', 'ZN', 'INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PRATIO', 'LSTAT', 'RIVERCODE'],
      dtype='object')

In [107]:
kmeans2 = KMeans(n_clusters=3, random_state=42).fit(datHousingSub)

In [108]:
centroids2 = (kmeans2.cluster_centers_)
print(centroids2[0],'\n')
print(centroids2[1],'\n')
print(centroids2[2])

[2.44205703e-01 1.73764259e+01 6.70262357e+00 4.84713688e-01
 6.47416350e+00 5.61661597e+01 4.83579772e+00 4.32699620e+00
 2.75212928e+02 1.78733840e+01 9.55292776e+00 7.60456274e-02]

[1.22991617e+01 3.01980663e-14 1.84518248e+01 6.70102190e-01
 6.00621168e+00 8.99678832e+01 2.05447007e+00 2.32700730e+01
 6.67642336e+02 2.01963504e+01 1.86745255e+01 5.83941606e-02]

[7.47468585e-01 1.11320755e+01 1.26841509e+01 5.79169811e-01
 6.17423585e+00 7.17132075e+01 3.46240000e+00 4.77358491e+00
 4.03018868e+02 1.76500000e+01 1.25624528e+01 6.60377358e-02]

#### 6.2 Do you think that adding another cluster helps to partition the data? Why or why not?

In [109]:
# Compute the silhouette scores for both models. 
from sklearn.metrics import silhouette_score

labels2 = (kmeans.labels_)
silScore_twoClusters = silhouette_score(datHousingSub,labels2)
print('Silhouette Score 2 cluster model: ', silScore_twoClusters)

labels3 = (kmeans2.labels_)
silScore_threeClusters = silhouette_score(datHousingSub,labels3)
print('Silhouette Score 3 cluster model: ', silScore_threeClusters)

Silhouette Score 2 cluster model:  0.7717962604192585
Silhouette Score 3 cluster model:  0.6217529916045139

- I think it does. 
- One of the most differentiating features of the previous clusterer was the INDUS variable. 
- In the new clusters, we still retain the above differention,and further differntiates the data. 
- By adding a one more cluster, now we are able to differentiate furhter based on crime rate and status of the population.
- However, the silhouette score for the 3 cluster model is less, indicating a better cluster distinction on model with 2 clusters.

### 7. Recreate the model 2 two clusters. We will use this one going forward.

In [110]:
model2 = KMeans(n_clusters=2, random_state=42).fit(datHousingSub)

#### 7.2 Merge the cluster ids from this 2 cluster model into the datHousing data frame using the column name Cluster to store this cluster id.

In [111]:
# Get the labels of from the cluseter 
labels = (model2.labels_)

print(labels[0:10])

[0 0 0 0 0 0 0 0 0 0]

In [112]:
# Create a new dataframe with cluster labels. 
df_labels = pd.DataFrame(labels)
df_labels.rename(columns = {0:'Cluster'}, inplace=True)

df_labels.head()

   Cluster
0        0
1        0
2        0
3        0
4        0

In [113]:
# Merge the two datasets. 
datHousing = pd.concat([datHousing,df_labels],axis =1)

#### 7.3 Look at the first few rows of data to verify.

In [114]:
datHousing.head()

,CRIM,ZN,INDUS,RIVER,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,MEDV,RIVERCODE,Cluster
0,3.32105,0.0,19.58,Yes,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,13.4,1,0
1,1.12658,0.0,19.58,Yes,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,15.3,1,0
2,1.41385,0.0,19.58,Yes,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,17.0,1,0
3,3.53501,0.0,19.58,Yes,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,15.6,1,0
4,1.27346,0.0,19.58,Yes,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,27.0,1,0

### 8. Create a new data frame called datHousingC1 which contains all of the rows from datHousing in cluster 1.

In [115]:
datHousingC1 = datHousing[datHousing['Cluster'] ==0]

#### 8.1 Look at the first few rows of data to verify.

In [116]:
datHousingC1.head()

,CRIM,ZN,INDUS,RIVER,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,MEDV,RIVERCODE,Cluster
0,3.32105,0.0,19.58,Yes,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,13.4,1,0
1,1.12658,0.0,19.58,Yes,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,15.3,1,0
2,1.41385,0.0,19.58,Yes,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,17.0,1,0
3,3.53501,0.0,19.58,Yes,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,15.6,1,0
4,1.27346,0.0,19.58,Yes,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,27.0,1,0

#### 8.2 Check the Cluster column to make sure that it only stores the value of 1

In [117]:
datHousingC1.Cluster.unique()

array([0])

### 9. Create a new data frame called datHousingC2 which contains all of the rows from datHousing in cluster 2.

In [118]:
datHousingC2 = datHousing[datHousing['Cluster'] ==1]

#### 9.2 Use summary to verify the results.

In [119]:
datHousingC2.describe()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,MEDV,RIVERCODE,Cluster
count,137.000000,137.0,137.000000,137.000000,137.000000,137.000000,137.00000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.0
mean,12.299162,0.0,18.451825,0.670102,6.006212,89.967883,2.05447,23.270073,667.642336,20.196350,18.674526,16.272263,0.058394,1.0
std,13.017296,0.0,1.814342,0.061051,0.713021,12.469840,0.60790,3.764196,8.469441,0.018821,6.873577,8.459008,0.235348,0.0
min,0.105740,0.0,18.100000,0.532000,3.561000,40.300000,1.12960,4.000000,666.000000,20.100000,2.960000,5.000000,0.000000,1.0
25%,5.441140,0.0,18.100000,0.614000,5.683000,86.100000,1.58950,24.000000,666.000000,20.200000,14.190000,11.000000,0.000000,1.0
50%,8.716750,0.0,18.100000,0.693000,6.152000,94.500000,1.92650,24.000000,666.000000,20.200000,18.050000,14.300000,0.000000,1.0
75%,14.236200,0.0,18.100000,0.713000,6.411000,98.800000,2.36820,24.000000,666.000000,20.200000,23.240000,19.900000,0.000000,1.0
max,88.976200,0.0,27.740000,0.770000,8.780000,100.000000,4.09830,24.000000,711.000000,20.200000,37.970000,50.000000,1.000000,1.0

#### 9.3 Check the Cluster column to make sure that it only stores the value of 2

In [120]:
datHousingC2.Cluster.unique()

array([1])

### 10. Create a regression model predicting MEDV and the same predictors as the baseline model in step 3, using the data frame from cluster 1.

In [121]:
# Define Numeric Features 
numeric_featues = ['CRIM', 'ZN', 'INDUS','NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX','PRATIO', 'LSTAT', 'RIVERCODE']

# Ddefine X and y values 
X = datHousingC1[numeric_featues]
y = datHousingC1.MEDV

In [122]:
## Split the data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42 )

In [123]:
## Standardize the data
scaler = StandardScaler()
# Transform the trainging set
X_train.loc[:,:] = scaler.fit_transform(X_train)
# Transform the testing set
X_test.loc[:,:] = scaler.fit_transform(X_test)

/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [124]:
## Model creation 
c1_linreg = LinearRegression()
c1_linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [125]:
# Predict using the training set
c1_train_predict = c1_linreg.predict(X_train)
# Predict using the testing set
c1_test_predict = c1_linreg.predict(X_test)

#### 10.1 What are the R2 value and MSE? Is this higher or lower than the baseline model?

In [126]:
# R2 scores for training and testing sets 
c1_r2_train = r2_score(y_train, c1_train_predict)
c1_r2_test = r2_score(y_test, c1_test_predict)

print("R2 score with training data: {:.2f}".format(c1_r2_train))
print("R2 score with test data: {:.2f}".format(c1_r2_test))

R2 score with training data: 0.87
R2 score with test data: 0.83

In [127]:
# MSE for training and testing sets 
c1_mse_train = mean_squared_error(y_train, c1_train_predict)
c1_mse_test = mean_squared_error(y_test, c1_test_predict)

print("MSE score with training data: {:.2f}".format(c1_mse_train))
print("MSE score with test data: {:.2f}".format(c1_mse_test))

MSE score with training data: 9.64
MSE score with test data: 9.88

#### Create a pandas dataframe to compare the results betweeen the baseline model and cluster 1 model

In [128]:
metrics_data = {
    "Train R2":[0.75,0.87],
    "Test R2":[0.68,0.83],
    'Train MSE':[20.92,9.64],
    "Test MSE":[29.51,9.88]
}

c1_base = pd.DataFrame(metrics_data,index=['Baseline','Cluster 01'])

In [129]:
c1_base

            Train R2  Test R2  Train MSE  Test MSE
Baseline        0.75     0.68      20.92     29.51
Cluster 01      0.87     0.83       9.64      9.88

We can clearly see an improvement in Both R2 scores and MSE by using the clustered data

### 11. Create a regression model predicting MEDV and the same predictors as the baseline model in step 3, using the data frame from cluster 2.

In [130]:
# Ddefine X and y values 
X = datHousingC2[numeric_featues]
y = datHousingC2.MEDV

In [131]:
## Split the data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42 )

In [132]:
## Standardize the data
scaler = StandardScaler()
# Transform the trainging set
X_train.loc[:,:] = scaler.fit_transform(X_train)
# Transform the testing set
X_test.loc[:,:] = scaler.fit_transform(X_test)

/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [133]:
## Model creation 
c2_linreg = LinearRegression()
c2_linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [134]:
# Predict using the training set
c2_train_predict = c2_linreg.predict(X_train)
# Predict using the testing set
c2_test_predict = c2_linreg.predict(X_test)

#### 11.2 What are the R2 value and MSE? Is this higher or lower than the baseline model?

In [135]:
# R2 scores for training and testing sets 
c2_r2_train = r2_score(y_train, c2_train_predict)
c2_r2_test = r2_score(y_test, c2_test_predict)

print("R2 score with training data: {:.2f}".format(c2_r2_train))
print("R2 score with test data: {:.2f}".format(c2_r2_test))

R2 score with training data: 0.72
R2 score with test data: 0.44

In [136]:
# MSE for training and testing sets 
c2_mse_train = mean_squared_error(y_train, c2_train_predict)
c2_mse_test = mean_squared_error(y_test, c2_test_predict)

print("MSE score with training data: {:.2f}".format(c2_mse_train))
print("MSE score with test data: {:.2f}".format(c2_mse_test))

MSE score with training data: 19.70
MSE score with test data: 40.76

#### Create a Pandas dataframe to compare baseline metrics to cluster 2 metrics.

In [137]:
metrics_data = {
    "Train R2":[0.75,0.72],
    "Test R2":[0.68,0.44],
    'Train MSE':[20.92,19.70],
    "Test MSE":[29.51,40.76]
}

c2_base = pd.DataFrame(metrics_data,index=['Baseline','Cluster 02'])

In [138]:
c2_base

            Train R2  Test R2  Train MSE  Test MSE
Baseline        0.75     0.68      20.92     29.51
Cluster 02      0.72     0.44      19.70     40.76

Compared to baseline model, cluster 2 model seems to be weak. It has much lower R2 scores and much higher MSE values.

### 12. Summarize your findings.

#### Create a pandas dataframe to display metrics of all three models. .

In [139]:
metrics_data = {
    "Train R2":[0.75,0.87,0.72],
    "Test R2":[0.68,0.83,0.44],
    'Train MSE':[20.92,9.64,19.70],
    "Test MSE":[29.51,9.88,40.76]
}

allMetrics = pd.DataFrame(metrics_data,index=['Baseline','Cluster 01','Cluster 02'])

In [140]:
allMetrics

            Train R2  Test R2  Train MSE  Test MSE
Baseline        0.75     0.68      20.92     29.51
Cluster 01      0.87     0.83       9.64      9.88
Cluster 02      0.72     0.44      19.70     40.76

#### 12.1 Do you think that clustering might improve your ability to predict the MEDV value? If so, under what contexts or constraints?

- Clustering definetely impacts the ability to predict MEDV value. 
- When comparing the model metrics, we can see that **cluster 1 is significantly better compared to baseline model.** 
- Cluster 2 on the other hand is pretty close to the base model. It has the highest MSE and a lowest R2 score on **test data.** 
- As I noted earlier, cluster 1 depicts MEDV values for properties in Industrial areas and cluster 2 for non-industrial (residential) areas. 
- Cluster 1 model seem to represent properties in industrial areas much better, and is able to predict with less error. Hence, if the objective is to predict MEDV in industrial areas, the cluster 1 models perfomrs much better. 
- But if the objective is to predict MEDV in any other area, the baseline model is a much better option.